/*
    LESS File Styling Base bas ahaha 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/

html body
{
    background: @background-image-pattern;
    font-size: @font-size-base-paragraphe;
    font-weight: @font-weight-base-p;
    color: @font-color-base-p;   
    .mixin-full-screen();
}

h3,
h3 span
{
    .mixin-title(@font-color-h3,@font-size-base-h3,@text-transform-h3,@text-align-h3,@letter-spacing-h3,@font-weight-base-h3);
    padding-bottom: 0 !important;
}

h4
{
    letter-spacing: @letter-spacing-h4 !important;
    font-weight: @font-weight-base-h4 !important;
}

.theme-content .special-txt p
{
    font-family: @font-title;
    font-size: 17px !important;
    color: @color-4 !important;
    font-style: italic;
    font-weight: bold !important;
    line-height: 1.3em !important;    
}

#theme-page
{
    background-color: @background-content-color !important;
}
.sidedash-navigation-ul
{
    margin-top: 0 !important;
}
.sidedash-navigation-ul li ul li .megamenu-title, .sidedash-navigation-ul li ul li a 
{
    padding: 15px 20px 15px 30px !important;
}
.sidedash-navigation-ul li ul > li::after 
{
    width: 100% !important;
}
.mk-side-dashboard 
{
    background-color: @background-color-nav !important;
}
.sidedash-navigation-ul li a, 
.sidedash-navigation-ul li .mk-nav-arrow 
{
    color: @font-color-text-btn !important;
}

.side-dash-top-widgets
{
    padding-top: 60px !important;
}
.side-dash-top-widgets ul.language-chooser li
{
    border-right: 1px solid @color-1;
    padding-left: 5px;
    padding-right: 8px;
    margin: 0 !important;
}
.side-dash-top-widgets ul.language-chooser li:last-child
{
    border-right: none;
}
.side-dash-top-widgets ul.language-chooser li:first-child
{
    padding-left: 0px;
}
.mk-gallery-shortcode .mk-gallery-item a:hover
{
    text-decoration: none !important;
}
.mk-gallery-shortcode .mk-gallery-item .image-hover-overlay
{
    opacity: 0.6 !important; 
    background-color: #000 !important;
}
.mk-gallery-shortcode .mk-gallery-item:hover .image-hover-overlay,
.mk-gallery-shortcode .mk-gallery-item .image-hover-overlay:hover
{
    opacity: 0 !important;    
}
.wp-video-shortcode
{
   max-width: 778px !important;
}