/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2015, 15:41:38
    Author     : MEO
*/
.slider-content .mk-grid {
    position: absolute;
    bottom: 20px;
    left: 0;
}
.slider-content .edge-title-area
{
    border-top: 5px solid @color-5;
    .mixin-background-color-opacity(253,253,241,0.8);
    width: 60% !important;
    padding: 20px;
    padding-left: 30px;
}
.slider-content .edge-title-area .edge-title
{
    text-transform: uppercase;
    color: @color-4 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    letter-spacing: 0.05em;
    margin-bottom: 15px !important;
}
.slider-content .edge-title-area .edge-desc
{
    font-size: 15px !important;
    line-height: 1.4em !important;
    font-weight: normal !important;
    color: @font-color-base-p !important;
    margin-bottom: 0 !important;
}
.nav-round a,
.nav-round a:hover,
.nav-round a[data-skin="light"],
.nav-round a[data-skin="light"]:hover
{
    border-radius: 0px !important;
    background: none !important; 
    border: none !important;
}
.nav-round a[data-skin="light"] i {
    color: @font-color-widget-text;
}
.nav-round:hover a[data-skin="light"] .mk-edge-icon-wrap i,
.nav-round a[data-skin="light"]:hover .mk-edge-icon-wrap i
{
    opacity: 0.5;
}
.mk-edge-next i, 
.mk-edge-prev i 
{
    font-size: 35px !important;
}
/**
 *
 * STYLE SUR MOBILE (DEVICE WIDTH 300px <-> 750px)
 *
 */
@media only screen and(min-width: 300px) and (max-width: 750px)
{
    .slider-content .mk-grid {
        position: absolute;
        bottom: 0px;
        left: 0;
    }
    .mk-edge-slider .edge-slide-content
    {
        display: none;
    }
    .slider-content .mk-grid {
        padding: 0 !important;
        padding-left: 0 !important; 
    }
    .mk-edge-slider .edge-title-area
    {
        border-top: 5px solid @color-5;
        .mixin-background-color-opacity(252,253,227,0.9);
        width: 100% !important;
        padding: 30px;
        padding-bottom: 40px !important;
        margin-top: 35% !important;
    }
    .mk-edge-slider .edge-title-area .edge-title
    {
        text-transform: uppercase;
        color: @color-4;
        font-weight: 600;
        font-size: 20px !important;
    }
    .mk-edge-slider .edge-title-area .edge-desc
    {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        padding-bottom: 10px;
    }
}
@media only screen and(min-width: 751px) and (max-width: 1150px)
{
    .mk-edge-slider .edge-title-area
    {
        width: 80% !important;
    }
    .slider-content .mk-grid {
        padding-left: 0 !important; 
    }
}
@media only screen and (orientation:landscape) and (max-height: 432px)
{ 
    .mk-edge-slider .edge-title-area
    {
        margin-top: 15% !important;
    }
}