/*
    LESS File Styling Footer 
    Created on : 16 oct. 2015, 12:59:02
    Author     : MEO
*/
#mk-footer
{
    background: @background-image-pattern;
    padding-top: 0px !important;
}
#mk-footer #top-footer
{
    background: @background-image-pattern-footer; 
    padding-top: 35px;
    min-height: 43px;
}
#mk-footer.contact-footer #top-footer .mk-padding-wrapper
{
    display: none;
}
#mk-footer.contact-footer .footer-wrapper {
    padding: 0 !important;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4
{
    height: 120px !important;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4:nth-child(2n+1)
{
    border-left: 2px solid @border-color-footer !important;
    border-right: 2px solid @border-color-footer !important;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4:first-child
{
    border-left: none !important;
    border-right: none !important;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4:first-child .widgettitle
{
    font-family: @font-title !important;
    font-weight: bold;
    font-size: 30px;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4 .widgettitle 
{
    font-family: @font-text;
    font-weight: normal;
    text-align: @text-align-footer;
    color: @font-color-widget-title;
}
.widget_contact_info ul li
{
    margin-bottom: 0 !important;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4 ul li
{
    width: 100%;
    text-align: @text-align-footer;
    padding: 0;
    color: @font-color-widget-text;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4 ul li i
{
    display: none !important;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4 ul li a
{
    color: @font-color-widget-text;
}
#mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4 ul li a:hover
{
    color: @font-color-link-hover;
}
#mk-footer #sub-footer
{
    background-color: transparent !important; 
    text-align: center;
}
#mk-footer #sub-footer .mk-footer-copyright
{
    width: 100%;
    text-align: center !important;
}
#mk-footer #sub-footer .mk-footer-copyright,
#mk-footer #sub-footer .mk-footer-copyright a
{
    color: @font-color-copyright !important;
}
@media only screen and (min-width: 300px) and (max-width: 750px)
{
    #mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4,
    #mk-footer #top-footer .mk-padding-wrapper .mk-col-1-4:nth-child(2n+1)
    {
        border-color: transparent !important;
    }
}