/*
    LESS File Styling Header 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
#mk-header 
{
    background: @background-image-pattern !important;
    border-bottom: none !important;
}
#mk-header .mk-header-inner 
{
    max-width: 100%;
    margin: 0 auto;
    border-bottom: none;
}
#mk-header .mk-header-bg 
{
    background-color: transparent;
}
#mk-header .header-logo a 
{
    display: block;
    margin: 0 auto;
    width: 263px;
}
#mk-header .header-logo a img  
{
    width: 263px !important;
}
#mk-header .mk-zindex-fix
{
    text-align: center;
    background-color: @font-color-widget-text;
    background-position: center center !important;
    width: 100%;
}
#mk-header .mk-zindex-fix #mk-page-introduce,
#mk-header .mk-zindex-fix #mk-page-introduce .mk-grid
{
    height: 100%;
}
#mk-header .mk-zindex-fix #mk-page-introduce .mk-grid h1
{
    text-align: center;
    color: @font-color-widget-text;
    .mixin-vertical-align(relative);
}
#mk-header .mk-zindex-fix.head-title-blog
{
    background: @background-blog-title;
    background-size: cover;
    border-bottom: 3px solid @color-border-image;
}
#mk-header .mk-zindex-fix .page-introduce-subtitle
{
    display: none;
}
#mk-header .mk-zindex-fix.head-title-blog,
#mk-header .mk-zindex-fix.head-title-blog #mk-page-introduce,
#mk-header .mk-zindex-fix.head-title-blog #mk-page-introduce .mk-grid
{
    height: 200px;
}
#mk-header .mk-zindex-fix.head-title-blog #mk-page-introduce .mk-grid,
#mk-header .mk-zindex-fix #mk-page-introduce .mk-grid
{
    margin-top: -40px;
}
@media only screen and (min-width: 300px) and (max-width: 750px)
{
    #mk-header .header-logo a 
    {
        margin: 0 auto;
        width: 180px;
    }
    #mk-header .header-logo a img
    {
        width: 180px;
    }
    #mk-header .mk-zindex-fix #mk-page-introduce .mk-grid h1
    {
        margin: 0px;
        padding: 0px;
    }
    #mk-header .mk-zindex-fix.head-title-blog #mk-page-introduce .mk-grid,
    #mk-header .mk-zindex-fix #mk-page-introduce .mk-grid
    {
        margin-top: -20px;
    }
}
/* ICON BURGER MENU */
#mk-header .mk-css-icon-close div, 
#mk-header .mk-css-icon-menu div 
{
    background-color: @color-2 !important;
}
.side-dash-top-widgets
{
    padding-left: 20px !important;
}
.side-dash-top-widgets .qtranxs_widget ul li a
{
    font-family: @font-text !important;
    font-size: 14px !important;
    color: @color-1 !important;
}
.side-dash-top-widgets .qtranxs_widget ul li a:hover,
.side-dash-top-widgets .qtranxs_widget ul li.active a
{
    font-weight: bold !important;
    text-decoration: none;
}
