/*
    LESS File Styling Page Content 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
#mk-header .mk-zindex-fix h1
{
    font-size: 40px !important;
    .mixin-text-shadow(0,0,10px,@text-shadow-color);
}
.theme-content h2.mk-fancy-title
{
    font-size: 30px !important;
    text-align: center !important;
    color: @color-3 !important;
    text-transform: uppercase !important; 
    font-weight: bold !important;
    letter-spacing: 0.25em !important;
}
.theme-content p
{
    color: @font-color-base-p !important;
    font-size: 15px !important;
    line-height: 1.4em !important;
    margin-bottom: 20px !important;
}
.gallery-page-content
{
    background: @background-image-pattern;
    padding: 20px 0;
    margin-bottom: 30px;
    .mixin-box-shadow(0,6px,8px,0,rgba(191,165,132,1));
}
.gallery-page-content .mk-grid
{
    float: none !important;
    margin: 0 auto !important;
}
.gallery-page-content .mk-grid > .vc_separator
{
    margin-top: 30px;
}
.gallery-page-content .mk-grid > .vc_sep_width_100 
{
    width: 50% !important;
}
.gallery-page-content .vc_separator.vc_sep_color_grey .vc_sep_line {
    border-color: #939487 !important;
}
.gallery-page-content .mk-gallery-shortcode article .item-holder {
    margin: 0 !important;
}
#theme-page h4 {
    font-size: 30px !important;
    letter-spacing: 0.25em !important;
}
body.page-template-tpl-page-contact #mk-header .mk-zindex-fix,
body.page-template-tpl-page-content #mk-header .mk-zindex-fix
{
    border-bottom: 3px solid @color-border-image;
}
.padding-txt
{
    padding: 0 30px;
}
.special-page-content
{
    background: @spec-background-color;
    padding: 20px 0;
}
.special-page-content .mk-grid .wpb_content_element h4
{
    color: @color-4 !important;
}
.special-page-content .mk-grid p,
.special-page-content .mk-grid p a
{
    color: @color-9 !important;
}
.special-page-content .mk-grid
{
    float: none !important;
    margin: 0 auto !important;
}
.special-page-content .mk-grid p,
.special-page-content .mk-grid a
{
    color: @color-1;
}
.special-page-content .mk-grid > .vc_separator
{
    margin-top: 30px;
}
.special-page-content .mk-grid > .vc_sep_width_100 
{
    width: 50% !important;
}
.special-page-content .vc_separator.vc_sep_color_grey .vc_sep_line {
    border-color: #b2aa9a !important;
}
/*
 *
 * Media check is mobile screen
 *
 */ 
@media only screen and (min-width: 300px) and(max-width: 750px)
{
    #mk-header .mk-zindex-fix h1
    {
        font-size: 40px !important;
    }
    .gallery-page-content .mk-grid > .vc_sep_width_100 
    {
        width: 80% !important;
    }
    .special-page-content .mk-grid > .vc_sep_width_100 
    {
        width: 80% !important;
    }
    .mobile-margin
    {
        margin-bottom: 50px !important;
    }
}