
// HAMBURGER MENU
#logo-homepage
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
}
#logo-homepage .logo-position
{
    position: relative;
    margin: 0 auto;
    max-width: 411px;
    width: 70%;
    height: 100%;
}
#logo-homepage .logo-position img
{
    .mixin-vertical-align(relative);
    z-index: 100;
    max-width: 411px;
    width: 100%;
}
html body.page-template-tpl-homepage header#mk-header
{
    position: absolute !important;
    background: none !important;
}
html body.page-template-tpl-homepage header#mk-header .header-logo
{
    display: none;
}
html body.page-template-tpl-homepage #mk-header .mk-zindex-fix
{
    border-bottom: none;
}
html,
html body.page-template-tpl-homepage,
html body.page-template-tpl-homepage #mk-boxed-layout,
html body.page-template-tpl-homepage #mk-boxed-layout #mk-theme-container,
html body.page-template-tpl-homepage #mk-boxed-layout div#theme-page,
html body.page-template-tpl-homepage div#theme-page,
html body.page-template-tpl-homepage div#theme-page .wpb_row,
html body.page-template-tpl-homepage div#theme-page .wpb_row .vc_col-sm-12,
html body.page-template-tpl-homepage div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider,
html body.page-template-tpl-homepage div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider .edge-slider-holder,
html body.page-template-tpl-homepage div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider .edge-slider-holder .swiper-slide,
html body.page-template-tpl-homepage div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider .edge-slider-holder .swiper-slide > div
{
    .mixin-full-height();
}

// BUTTON GO TO PROJECTS
#bloc-arrow-homepage
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
#bloc-arrow-homepage .arrow-nav a
{
    display: block;
    width: 100%;
    height: 100%;
}
#bloc-arrow-homepage .arrow-nav
{
     position: relative;
    max-width: 100px;
    width: 100%;
    padding: 10px 10px;
    background: @background-image-pattern;
    margin: 0 auto;
    cursor: pointer;
}
#bloc-arrow-homepage .arrow-nav:hover
{
    opacity: 0.5;
}
#bloc-arrow-homepage .arrow-nav div:first-child
{
    float: left;
    width: 65px;
    font-size: 15px;
    color: @color-1;
    text-transform: uppercase;
}
#bloc-arrow-homepage .arrow-nav div:nth-child(2n)
{
    float: right;
    width: 15px;
}
#bloc-arrow-homepage .arrow-nav div i
{
    text-align: right;
    font-size: 12px;
    color: @color-1;
    width: 100%;
}