/*
    LESS File Styling Page Menu Project 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
#theme-page.projects-page
{
    height: 100%;
}
#theme-page.projects-page .theme-page-wrapper {
    .mixin-reset-padding-margin();
    height: 100%;
}
#theme-page.projects-page .theme-page-wrapper .theme-content {
    padding: 0 !important;
    height: 100%;
}
#nav-project
{
    .mixin-full-screen(); 
    .mixin-reset-padding-margin();
}
#nav-project .global-nav
{
    .mixin-full-screen();
    .mixin-reset-padding-margin();
}
#nav-project .global-nav .nav-element
{
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: top center;
    .mixin-reset-padding-margin();
}
#nav-project .global-nav .nav-element a
{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: transparent url('images/bg-menu-project.png') repeat;
    .mixin-full-screen();
}
#nav-project .global-nav .nav-element a:hover
{
    background: transparent url('images/bg-menu-project-hover.png') repeat;
    text-decoration: none;
}
#nav-project .global-nav .nav-element a h2
{
    color: @color-2;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: normal;
    width: 80% !important;
    margin: 0 auto !important;
    .mixin-text-shadow(0,0,10px,@text-shadow-color);
    .mixin-vertical-align(relative);
}
@media only screen and (min-width: 300px) and (max-width: 1005px)
{
    #theme-page.projects-page
    {
        .mixin-reset-padding-margin();
    }
    #theme-page.projects-page .theme-page-wrapper {
        .mixin-reset-padding-margin();
    }
    #theme-page.projects-page .theme-page-wrapper .theme-content {
        .mixin-reset-padding-margin();
    }
    #nav-project .global-nav .nav-element
    {
        width: 100% !important;
        .mixin-reset-padding-margin();
    }
}
