/*
    LESS File Styling Posts 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
/*----------------------------------------------------------------------------------------*/
/* PAGE LIST ARTICLES */
/*----------------------------------------------------------------------------------------*/
section.bloc-posts
{
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
}
section.bloc-posts article:first-child
{
    margin-top: 50px;
}
section.bloc-posts article
{
    border: 1px solid @border-blog-color;
    margin-bottom: 50px;
}
section.bloc-posts article .content-post
{
    padding: 30px;
}
section.bloc-posts article .content-post p.meta-data
{
    font-family: @font-title !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: @font-color-meta-data !important;
    font-style: italic;
    margin-bottom: 20px !important;
}
section.bloc-posts article .content-post p.meta-data span,
section.bloc-posts article .content-post p.meta-data span a
{
    color: @font-color-link;
}
section.bloc-posts article .content-post p.meta-data span a:hover
{
    color: @font-color-link-hover;
    text-decoration: none;
}
section.bloc-posts article .content-post h2
{
    margin: 0 !important;
    padding: 0 !important;
}
section.bloc-posts article .content-post h2 a
{
    font-family: @font-title;
    color: @font-color-title !important;
    font-weight: bold !important;
    letter-spacing: 0.25em !important;
}
section.bloc-posts article .content-post h2 a:hover
{
    color: @font-color-title-hover !important;
    text-decoration: none;
}
section.bloc-posts article .content-post p.content,
section.bloc-posts article .content-post p.content p
{
    font-size: 14px;
    color: @font-color-base-p !important;
    margin: 0 !important;
    padding: 0 !important;
}
section.bloc-posts article .content-post p:after
{
    content: ' [...]';
}
section.bloc-posts article .content-post p.meta-data:after
{
    content: '';
}
.theme-content section.bloc-posts article .content-post p:last-child
{
    margin-bottom: 0 !important;
}
section.bloc-posts article .content-post a.btn-show-more
{
    background-color: @font-color-link;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 30px;
    color: @font-color-text-btn;
    width: 100px !important;
    text-align: center;
}
section.bloc-posts article .content-post a.btn-show-more:hover
{
    text-decoration: none;
    background-color: @font-color-link-hover;
}
.page_posts
{
    display: none;
}
.btn_paginate
{
    background: none;
    border: 1px solid transparent;
    font-family: @font-text;
    color: @color-3;
    padding: 5px 10px;
    width: 40px;
}
.btn_paginate:hover,
.btn_paginate.active
{
    border: 1px solid @border-blog-color;
    color: @color-4;
}
/*----------------------------------------------------------------------------------------*/
/* PAGE SINGLE ARTICLE */
/*----------------------------------------------------------------------------------------*/
.mk-blog-single article
{
    max-width: 780px;
    width: 100%;
    margin : 0 auto;
    padding-top: 50px;
}
.mk-blog-single article .blog-single-meta,
.mk-blog-single article .blog-single-meta p
{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.mk-blog-single article .blog-single-meta p
{
    font-family: @font-title !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: @font-color-meta-data !important;
    font-style: italic;
    margin-bottom: 10px !important;
}
.mk-blog-single article .blog-single-meta p span,
.mk-blog-single article .blog-single-meta p span a
{
    color: @font-color-link;
}
.mk-blog-single article .blog-single-meta p span a:hover
{
    color: @font-color-link-hover;
    text-decoration: none;
}
.mk-blog-single article h2.blog-single-title
{
    font-family: @font-title;
    color: @font-color-title !important;
    font-weight: bold !important;
    letter-spacing: 0.25em !important;
    margin-bottom: 0px !important;
    
}
.mk-blog-single article .mk-single-content,
.mk-blog-single article .mk-single-content p
{
    font-size: 14px;
    color: @font-color-base-p !important;
}
.single-post header#mk-header .mk-zindex-fix
{
    display: none;
}
.blog-similar-posts
{
    border-top: 1px solid @border-blog-color;
    padding-top: 50px;
}
.similar-post-title
{
    font-family: @font-title;
    .mixin-title(@font-color-h3,@font-size-base-h3,@text-transform-h3,@text-align-h3,@letter-spacing-h3,@font-weight-base-h3);
    padding-bottom: 0 !important;    
}
.similar-post-holder a.mk-similiar-title
{
    font-family: @font-text;
    color: @font-color-title !important;
}
.similar-post-holder a.mk-similiar-title:hover
{
    color: @font-color-title-hover !important;
    text-decoration: none;
}
@media only screen and (min-width: 300px) and (max-width: 974px)
{
    #theme-page .single-social-section .blog-share-container
    {
        margin-bottom: 20px !important;
    }
}