/*
    LESS File Styling Page Project 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
#btn-close-project
{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    z-index: 100;
    background-color: @color-2;
    opacity: 0.6;
    cursor: pointer;
}
#btn-close-project img
{
    width: 20px;
    height: 20px;
}
#bloc-btn-info
{
    display: none;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    opacity: 0.3;
    cursor: pointer;
}
#bloc-btn-info #btn-info-project
{
    width: 40px;
    height: 40px;
    background-color: @color-2 !important;
    margin: 0 auto;
}
#bloc-btn-info #btn-info-project img
{
    width: 40px;
    height: 40px;
}
@media only screen and (min-width: 300px) and (max-width: 750px)
{
    #bloc-btn-info
    {
        display: block;
    }
}
@media only screen and (orientation:landscape) and (max-height: 432px)
{ 
    html body.page-template-tpl-project-page header#mk-header
    {
        display: none;
    }
    html,
    html body.page-template-tpl-project-page,
    html body.page-template-tpl-project-page #mk-boxed-layout,
    html body.page-template-tpl-project-page #mk-boxed-layout #mk-theme-container,
    html body.page-template-tpl-project-page #mk-boxed-layout div#theme-page,
    html body.page-template-tpl-project-page div#theme-page,
    html body.page-template-tpl-project-page div#theme-page .wpb_row,
    html body.page-template-tpl-project-page div#theme-page .wpb_row .vc_col-sm-12,
    html body.page-template-tpl-project-page div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider,
    html body.page-template-tpl-project-page div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider .edge-slider-holder,
    html body.page-template-tpl-project-page div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider .edge-slider-holder .swiper-slide,
    html body.page-template-tpl-project-page div#theme-page .wpb_row .vc_col-sm-12 .mk-edge-slider .edge-slider-holder .swiper-slide > div
    {
        .mixin-full-height();
    }
    .mk-edge-slider .edge-slide-content
    {
        margin-top: 15% !important;
    }
}