/*
    LESS File Styling Variables
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
/****************************************************************
 BASE TEMPLATE COLOR VARIABLRES
 ****************************************************************/
@color-1: #fdfdf1;
@color-2: #fcfde3;
@color-3: #bfa584;
@color-4: #796954;
@color-5: #8f5b3b;
@color-6: #abc14f;
@color-7: #56722f;
@color-8: #684941;
@color-9: #575757;
@border-blog-color: #ede6d5;
@base-bg-color: #272727;
@text-shadow-color: #000;
@border-color-footer: #3f3f3d;
@spec-background-color: #ebebe0;

/****************************************************************
 BACKGROUND VARIABLRES
 ****************************************************************/
@background-image-pattern: @base-bg-color url(images/paper-pattern_140x140.jpg) repeat;
@background-image-pattern-footer: transparent url(images/footer-pattern.jpg) repeat-x;
@background-content-color: @color-1;
@background-color-nav: #161616;
@background-footer-color: @base-bg-color;
@background-blog-title: @base-bg-color url(http://mariannedubuis-test.meomeo.ch/wp/wp-content/uploads/2015/12/JOURNAL_1920x1080_SEPIA.jpg) no-repeat;

/****************************************************************
 FONT STYLE VARIABLRES
 ****************************************************************/
// Font Family
@font-title: 'Lora', sans-serif;
@font-text: 'Cabin', sans-serif;

// Font Size
@font-size-base-h1: 14px;
@font-size-base-h2: 14px;
@font-size-base-h3: 20px;
@font-size-base-h4: 14px;
@font-size-base-paragraphe: 14px;

// Font Color
@font-color-base-p: @color-9;
@font-color-widget-title: @color-3;
@font-color-widget-text: @color-1;
@font-color-copyright: @color-3;
@font-color-link: @color-4;
@font-color-link-hover: @color-3;
@font-color-meta-data: #b5ae9e;
@font-color-h3: @color-4;
@font-color-text-btn: @color-1;
@font-color-title: @color-3;
@font-color-title-hover: @color-5;

// Font Transform
@text-transform-h1: uppercase;
@text-transform-h2: uppercase;
@text-transform-h3: uppercase;
@text-transform-h4: uppercase;

// Font Weight
@font-weight-base-h3: 400;
@font-weight-base-h4: bold;
@font-weight-base-p: normal;

// Font Align
@text-align-h3: center;
@text-align-footer: center;

// Font Letter Spacing
@letter-spacing-h1: 2px;
@letter-spacing-h2: 2px;
@letter-spacing-h3: 0.05em;
@letter-spacing-h4: 2px;

/****************************************************************
 OTHER VARIABLRES
 ****************************************************************/
@color-border-image: #8f5b3b;