/*
    LESS File Styling Base 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
html body {
  background: #272727 url(images/paper-pattern_140x140.jpg) repeat;
  font-size: 14px;
  font-weight: normal;
  color: #272727;
  width: 100%;
  height: 100%;
}
#theme-page {
  background-color: #fdfdf1 !important;
}
