/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2015, 15:41:38
    Author     : MEO
*/
.slider-content .mk-grid {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.slider-content .edge-title-area {
  border-top: 5px solid #8f5b3b;
  background-color: #fcfde3;
  opacity: 0.8;
  width: 60% !important;
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 25px;
  margin-top: 50px !important;
}
.slider-content .edge-title-area .edge-title {
  text-transform: uppercase;
  color: #796954 !important;
  font-size: 20px !important;
  font-weight: 600;
}
.slider-content .edge-title-area .edge-desc {
  font-size: 15px !important;
  line-height: 16px;
  color: #575757 !important;
}
.nav-round a,
.nav-round a:hover,
.nav-round a[data-skin="light"],
.nav-round a[data-skin="light"]:hover {
  border-radius: 0px !important;
  background: none !important;
  border: none !important;
}
.nav-round a[data-skin="light"] i {
  color: #fff;
}
.nav-round:hover a[data-skin="light"] .mk-edge-icon-wrap i,
.nav-round a[data-skin="light"]:hover .mk-edge-icon-wrap i {
  opacity: 0.5;
}
.mk-edge-next i,
.mk-edge-prev i {
  font-size: 35px !important;
}
/**
 *
 * STYLE SUR MOBILE (DEVICE WIDTH 300px <-> 750px)
 *
 */
@media only screen and (min-width: 300px) and (max-width: 750px) {
  .mk-edge-slider .edge-slide-content {
    display: none;
  }
  .slider-content .mk-grid {
    padding: 0 !important;
    padding-left: 0 !important;
  }
  .mk-edge-slider .edge-title-area {
    border-top: 5px solid #8f5b3b;
    background-color: #fcfde3;
    opacity: 0.9;
    width: 100% !important;
    padding: 10px;
    margin-top: 35% !important;
  }
  .mk-edge-slider .edge-title-area .edge-title {
    text-transform: uppercase;
    color: #796954;
    font-weight: 600;
    font-size: 20px !important;
  }
  .mk-edge-slider .edge-title-area .edge-desc {
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 751px) and (max-width: 1150px) {
  .mk-edge-slider .edge-title-area {
    width: 80% !important;
  }
  .slider-content .mk-grid {
    padding-left: 0 !important;
  }
}
@media only screen and (orientation: landscape) and (max-height: 432px) {
  .mk-edge-slider .edge-title-area {
    margin-top: 15% !important;
  }
}
