/*
    LESS File Styling Header 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2015, 07:24:00
    Author     : MEO
*/
/* Align vertical Element */
#mk-header {
  background: #272727 url(images/paper-pattern_140x140.jpg) repeat !important;
  border-bottom: none !important;
}
#mk-header .mk-header-inner {
  max-width: 100%;
  margin: 0 auto;
  border-bottom: none;
}
#mk-header .mk-header-bg {
  background-color: transparent;
}
#mk-header .header-logo a {
  display: block;
  margin: 0 auto;
  width: 263px;
}
#mk-header .mk-zindex-fix {
  text-align: center;
  background-color: #fff;
  width: 100%;
}
#mk-header .mk-zindex-fix #mk-page-introduce,
#mk-header .mk-zindex-fix #mk-page-introduce .mk-grid {
  height: 100%;
}
#mk-header .mk-zindex-fix #mk-page-introduce .mk-grid h1 {
  text-align: center;
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#mk-header .mk-zindex-fix.head-title-blog {
  background: #272727 url(images/bg-title-post.jpg) no-repeat;
  background-size: cover;
}
#mk-header .mk-zindex-fix.head-title-blog,
#mk-header .mk-zindex-fix.head-title-blog #mk-page-introduce,
#mk-header .mk-zindex-fix.head-title-blog #mk-page-introduce .mk-grid {
  height: 200px;
}
#mk-header .mk-zindex-fix.head-title-blog #mk-page-introduce .mk-grid {
  margin-top: -40px;
}
@media only screen and (min-width: 300px) and (max-width: 750px) {
  #mk-header .header-logo a {
    margin: 0 auto;
    width: 180px;
  }
  #mk-header .header-logo a img {
    width: 180px;
  }
}
/* ICON BURGER MENU */
.mk-css-icon-close div,
.mk-css-icon-menu div {
  background-color: #fcfde3 !important;
}
