/*
    LESS File Styling Page Menu Project 
    Created on : 14 oct. 2015, 15:41:02
    Author     : MEO
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2015, 07:24:00
    Author     : MEO
*/
/* Align vertical Element */
#theme-page.projects-page {
  height: 100%;
}
#theme-page.projects-page .theme-page-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
#theme-page.projects-page .theme-page-wrapper .theme-content {
  padding: 0 !important;
  height: 100%;
}
#nav-project {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
#nav-project .global-nav {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
#nav-project .global-nav .nav-element {
  position: relative;
  text-align: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
#nav-project .global-nav .nav-element a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent url('images/bg-menu-project.png') repeat;
  width: 100%;
  height: 100%;
}
#nav-project .global-nav .nav-element a:hover {
  background: transparent url('images/bg-menu-project-hover.png') repeat;
  text-decoration: none;
}
#nav-project .global-nav .nav-element a h2 {
  color: #fcfde3;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 300px) and (max-width: 1005px) {
  #theme-page.projects-page {
    margin: 0 !important;
    padding: 0 !important;
  }
  #theme-page.projects-page .theme-page-wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }
  #theme-page.projects-page .theme-page-wrapper .theme-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  #nav-project .global-nav .nav-element {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
